In [1]:
#importing libraries
import numpy as np
import pandas as pd

In [2]:
#loading dataset
df = pd.read_csv("Mass Shootings Dataset.csv",encoding = "Latin-1",index_col=0)
df.head()

,Title,Location,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,Injured,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
S#,,,,,,,,,,,,,,,,,,,,
1,Texas church mass shooting,"Sutherland Springs, TX",11/5/2017,Church,Close,random,unknown,"Devin Patrick Kelley, 26, an ex-air force offi...",26,20,46,0.0,26,NaN,NaN,No,White,M,NaN,NaN
2,Walmart shooting in suburban Denver,"Thornton, CO",11/1/2017,Wal-Mart,Open,random,unknown,"Scott Allen Ostrem, 47, walked into a Walmart ...",3,0,3,0.0,47,NaN,NaN,No,White,M,NaN,NaN
3,Edgewood businees park shooting,"Edgewood, MD",10/18/2017,Remodeling Store,Close,coworkers,unknown,"Radee Labeeb Prince, 37, fatally shot three pe...",3,3,6,0.0,37,NaN,Advance Granite Store,No,Black,M,NaN,NaN
4,Las Vegas Strip mass shooting,"Las Vegas, NV",10/1/2017,Las Vegas Strip Concert outside Mandala Bay,Open,random,unknown,"Stephen Craig Paddock, opened fire from the 32...",59,527,585,1.0,64,NaN,NaN,Unclear,White,M,36.181271,-115.134132
5,San Francisco UPS shooting,"San Francisco, CA",6/14/2017,UPS facility,Close,coworkers,NaN,"Jimmy Lam, 38, fatally shot three coworkers an...",3,2,5,0.0,38,1.0,NaN,Yes,Asian,M,NaN,NaN

In [3]:
df.shape

(323, 20)

In [4]:
#stripping of white spaces from state's column
df['State']=df['Location'].str.split(",").str[1]

In [5]:
# rearranging the columns and adding new column
cols = list(df.columns)
cols

['Title',
 'Location',
 'Date',
 'Incident Area',
 'Open/Close Location',
 'Target',
 'Cause',
 'Summary',
 'Fatalities',
 'Injured',
 'Total victims',
 'Policeman Killed',
 'Age',
 'Employeed (Y/N)',
 'Employed at',
 'Mental Health Issues',
 'Race',
 'Gender',
 'Latitude',
 'Longitude',
 'State']

In [6]:
list1 = []
list1.extend(cols[:2])
list1.append(cols[-1])
list1.extend(cols[2:20])

In [7]:
list1

['Title',
 'Location',
 'State',
 'Date',
 'Incident Area',
 'Open/Close Location',
 'Target',
 'Cause',
 'Summary',
 'Fatalities',
 'Injured',
 'Total victims',
 'Policeman Killed',
 'Age',
 'Employeed (Y/N)',
 'Employed at',
 'Mental Health Issues',
 'Race',
 'Gender',
 'Latitude',
 'Longitude']

In [8]:
df = df[list1]

In [9]:
df.head()

,Title,Location,State,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
S#,,,,,,,,,,,,,,,,,,,,,
1,Texas church mass shooting,"Sutherland Springs, TX",TX,11/5/2017,Church,Close,random,unknown,"Devin Patrick Kelley, 26, an ex-air force offi...",26,...,46,0.0,26,NaN,NaN,No,White,M,NaN,NaN
2,Walmart shooting in suburban Denver,"Thornton, CO",CO,11/1/2017,Wal-Mart,Open,random,unknown,"Scott Allen Ostrem, 47, walked into a Walmart ...",3,...,3,0.0,47,NaN,NaN,No,White,M,NaN,NaN
3,Edgewood businees park shooting,"Edgewood, MD",MD,10/18/2017,Remodeling Store,Close,coworkers,unknown,"Radee Labeeb Prince, 37, fatally shot three pe...",3,...,6,0.0,37,NaN,Advance Granite Store,No,Black,M,NaN,NaN
4,Las Vegas Strip mass shooting,"Las Vegas, NV",NV,10/1/2017,Las Vegas Strip Concert outside Mandala Bay,Open,random,unknown,"Stephen Craig Paddock, opened fire from the 32...",59,...,585,1.0,64,NaN,NaN,Unclear,White,M,36.181271,-115.134132
5,San Francisco UPS shooting,"San Francisco, CA",CA,6/14/2017,UPS facility,Close,coworkers,NaN,"Jimmy Lam, 38, fatally shot three coworkers an...",3,...,5,0.0,38,1.0,NaN,Yes,Asian,M,NaN,NaN

In [10]:
df['State'].value_counts()

 California        28
 Florida           20
 Texas             16
 Washington        14
 Georgia           13
 Arizona           11
 North Carolina    11
 Ohio              10
 New York          10
 Wisconsin          9
 Illinois           9
 Alabama            9
 Pennsylvania       6
 Michigan           6
 Colorado           6
 Oklahoma           5
 Nevada             5
 Kentucky           5
 South Carolina     5
 Tennessee          5
 Virginia           5
 Louisiana          4
 Minnesota          4
 Oregon             4
 Kansas             4
 Mississippi        4
 Massachusetts      4
 Missouri           3
 New Jersey         3
 Connecticut        3
 Nebraska           3
 Montana            2
 Arkansas           2
 Utah               2
 New Mexico         2
 CA                 2
 Souderton          1
 WA                 1
 South Dakota       1
 NV                 1
 TX                 1
 Texas              1
 LA                 1
 Hawaii             1
 PA                 1
 West Virginia      1
 Iowa               1
 CO                 1
  Virginia          1
 Vermont            1
 Lancaster          1
 MD                 1
 Alaska             1
 Maine              1
 Wyoming            1
 Indiana            1
 San Diego          1
 Albuquerque        1
 Idaho              1
Name: State, dtype: int64

In [11]:
df['State'] = df['State'].str.strip()

In [12]:
df['State'].value_counts()

California        28
Florida           20
Texas             17
Washington        14
Georgia           13
Arizona           11
North Carolina    11
Ohio              10
New York          10
Alabama            9
Illinois           9
Wisconsin          9
Pennsylvania       6
Colorado           6
Virginia           6
Michigan           6
Tennessee          5
Oklahoma           5
South Carolina     5
Nevada             5
Kentucky           5
Massachusetts      4
Kansas             4
Mississippi        4
Oregon             4
Louisiana          4
Minnesota          4
Connecticut        3
Missouri           3
New Jersey         3
Nebraska           3
Arkansas           2
Utah               2
Montana            2
New Mexico         2
CA                 2
Idaho              1
CO                 1
NV                 1
Hawaii             1
Indiana            1
Iowa               1
Wyoming            1
South Dakota       1
Vermont            1
WA                 1
Alaska             1
West Virginia      1
MD                 1
Lancaster          1
Albuquerque        1
PA                 1
LA                 1
Souderton          1
Maine              1
TX                 1
San Diego          1
Name: State, dtype: int64

In [13]:
df['State'].value_counts().sort_index()

Alabama            9
Alaska             1
Albuquerque        1
Arizona           11
Arkansas           2
CA                 2
CO                 1
California        28
Colorado           6
Connecticut        3
Florida           20
Georgia           13
Hawaii             1
Idaho              1
Illinois           9
Indiana            1
Iowa               1
Kansas             4
Kentucky           5
LA                 1
Lancaster          1
Louisiana          4
MD                 1
Maine              1
Massachusetts      4
Michigan           6
Minnesota          4
Mississippi        4
Missouri           3
Montana            2
NV                 1
Nebraska           3
Nevada             5
New Jersey         3
New Mexico         2
New York          10
North Carolina    11
Ohio              10
Oklahoma           5
Oregon             4
PA                 1
Pennsylvania       6
San Diego          1
Souderton          1
South Carolina     5
South Dakota       1
TX                 1
Tennessee          5
Texas             17
Utah               2
Vermont            1
Virginia           6
WA                 1
Washington        14
West Virginia      1
Wisconsin          9
Wyoming            1
Name: State, dtype: int64

In [14]:
#replacing with the correct values
df['State']=df['State'].replace({"CA":'California',"CO":'Colorado',"LA":'Louisiana','MD':'Maryland','NV':'Nevada','PA':'Pennsylvania','TX':'Texas','WA':'Washington'})

In [15]:
df['State'].value_counts().sort_index()

Alabama            9
Alaska             1
Albuquerque        1
Arizona           11
Arkansas           2
California        30
Colorado           7
Connecticut        3
Florida           20
Georgia           13
Hawaii             1
Idaho              1
Illinois           9
Indiana            1
Iowa               1
Kansas             4
Kentucky           5
Lancaster          1
Louisiana          5
Maine              1
Maryland           1
Massachusetts      4
Michigan           6
Minnesota          4
Mississippi        4
Missouri           3
Montana            2
Nebraska           3
Nevada             6
New Jersey         3
New Mexico         2
New York          10
North Carolina    11
Ohio              10
Oklahoma           5
Oregon             4
Pennsylvania       7
San Diego          1
Souderton          1
South Carolina     5
South Dakota       1
Tennessee          5
Texas             18
Utah               2
Vermont            1
Virginia           6
Washington        15
West Virginia      1
Wisconsin          9
Wyoming            1
Name: State, dtype: int64

In [16]:
df['State'].replace({'Albuquerque':'New Mexico','Lancaster':np.nan,'San Diego':'California','Souderton':'Pennsylvania'},inplace=True)

In [17]:
df[df['State'].isnull()==True]

,Title,Location,State,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
S#,,,,,,,,,,,,,,,,,,,,,
16,"Forestville, Maryland Drive-by",NaN,NaN,4/26/2016,in street,Open,NaN,NaN,Shooter shot from his car at people standing o...,1,...,5,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,38.845113,-76.874972
17,"Halifax County, VA",NaN,NaN,4/24/2016,crown,Open,random,NaN,Male shooter fired into crown when a deputy po...,0,...,6,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,36.765971,-78.928344
18,Tire-Slashing revenge escalation,NaN,NaN,4/21/2016,block party,Open,random,frustration,Shooter was angry over fact that rival familie...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,39.290385,-76.612189
19,Chicago Rap video Shootout,NaN,NaN,4/19/2016,in a park,Open,random,NaN,Group of young men were in a park at 2 in the ...,1,...,5,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,41.878114,-87.629798
20,Texas family murder-suicide,NaN,NaN,4/19/2016,Home,Close,Family,domestic dispute,Man killed his wife and two young children bef...,4,...,4,0.0,NaN,NaN,NaN,Unknown,White American or European American,Male,29.785785,-95.824396
21,Alabama highway random shooting,NaN,NaN,4/19/2016,along a highway,Open,random,NaN,Shooter fired from his car at two different lo...,1,...,4,0.0,NaN,NaN,NaN,Yes,White American or European American,Male,34.162040,-86.475543
22,Long Beach Street murder,NaN,NaN,4/18/2016,at street corner,Open,random,terrorism,Group of men were standing at a street corner ...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,33.770050,-118.193739
23,"Albuquerque, NM House party shooting",NaN,NaN,4/9/2016,at party,Close,uninvited guests,anger,A Man shot four uninvited party guests who wou...,0,...,4,0.0,NaN,NaN,NaN,Unknown,White American or European American,Male,35.085334,-106.605553
24,"Memphis, TN gas station shooting",NaN,NaN,4/9/2016,at gas station,Open,random,anger,Four people were shot below the waist at a gas...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,35.149534,-90.048980
25,Chicago Birthday Party Bus Shooting,NaN,NaN,4/7/2016,south shore,Open,birthday party bus,NaN,Birthday party bus was dropping off party goer...,0,...,5,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,41.878114,-87.629798
26,"Albuquerque, NM Family restaurant shooting",NaN,NaN,4/1/2016,restaurant,Close,Family,NaN,The shooter killed two of his nephews at the r...,3,...,3,0.0,NaN,NaN,NaN,Unknown,Asian American,Male,35.085334,-106.605553
30,"Greenhill, AL Family murder-suicide",NaN,NaN,3/25/2016,home in rural Alabama,Close,Family,domestic dispute,Husband murders his wife and injures his two s...,2,...,3,0.0,NaN,NaN,NaN,Yes,White American or European American,Male,34.759257,-86.602493
35,Atlanta Nightclub shooting,NaN,NaN,3/15/2016,outside nightclub,Open,random,anger,Two groups of people were asked to leave a nig...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,33.748995,-84.387982
36,Florida Family celebration ends in shooting,NaN,NaN,3/13/2016,NaN,NaN,Family,NaN,Family was celebrating a birthday party when a...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,26.640628,-81.872308
37,"Elberton, Georgia murder-suicide",NaN,NaN,3/12/2016,NaN,Open,Family,domestic dispute,Domestic dispute led a man to shoot his girlfr...,2,...,3,0.0,NaN,NaN,NaN,Unknown,Unknown,Male,34.111223,-82.867084
38,"Trenton, NJ sidewalk shooting",NaN,NaN,3/11/2016,"outside of an apartment complex in Trenton, NJ",Open,random,NaN,A group of women were arguing on a sidewalk ou...,0,...,5,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,40.217053,-74.742938
39,Detroit Drive-by,NaN,NaN,3/11/2016,NaN,Open,random,NaN,Four men were sitting on a porch when a black ...,2,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,42.331427,-83.045754
41,Wilkinsburg BBQ cookout shootout,NaN,NaN,3/9/2016,backyard of a house,Open,random,terrorism,A family was having a cookout in the backyard ...,5,...,8,0.0,NaN,NaN,NaN,Unknown,Unknown,Male,40.441736,-79.881994
43,"Lafayette, LA drive by",NaN,NaN,3/7/2016,drive-by on MLK boulevard in Lafayette,Open,random,NaN,Four people shot with non-life-threatening inj...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,30.224090,-92.019843
44,Kansas City Home Invasion,NaN,NaN,3/7/2016,Home,Close,neighbors,NaN,Shooter killed four people at his next door ne...,4,...,4,0.0,NaN,NaN,NaN,Unknown,Some other race,Male,39.114053,-94.627464
46,"Roswell, GA Hookah shootout",NaN,NaN,3/6/2016,NaN,Open,random,anger,Altercation in a hookah bar led a group of sev...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,34.023243,-84.361556
47,Wichita Nightclub shooting,NaN,NaN,3/5/2016,outside the club,Open,random,anger,Altercation led to group of people getting kic...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,37.687176,-97.330053
48,Detroit Strip Club Shootout,NaN,NaN,2/28/2016,outside the club,Open,club members,anger,Man apparently inappropriately touched a strip...,0,...,5,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,42.331427,-83.045754
49,Riverside restaurant shooting,NaN,NaN,2/28/2016,restaurant parking,Open,random,NaN,Shooter fired upon group of people in a restau...,1,...,4,0.0,NaN,NaN,NaN,Unknown,Some other race,Male,33.997197,-117.485480
54,"Belfair, WA Family murder-suicide",NaN,NaN,2/25/2016,Home,Close,Family,psycho,"Man killed wife, two kids, and neighbor before...",5,...,4,0.0,NaN,NaN,NaN,Unknown,White American or European American,Male,47.451459,-122.826946
56,Missouri Highway shooting,NaN,NaN,2/21/2016,interstate in Hazelwood,Open,random,NaN,Car was fired upon from a stolen Mercedes on t...,1,...,4,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,38.771440,-90.370949
57,Houston Drive-by,NaN,NaN,2/21/2016,NaN,Open,random,NaN,Group of people was fired upon by an unknown n...,0,...,5,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,29.760427,-95.369803
60,Florida Hookah Bar Shooting,NaN,NaN,2/20/2016,hookah bar parking,Open,random,anger,Argument led to gun shots in the parking lot o...,1,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,27.950575,-82.457178
61,Kalamazoo Uber Driver Spree Killing,NaN,NaN,2/20/2016,NaN,Open,random,NaN,An Uber driver fired upon people in three loca...,6,...,8,0.0,NaN,1.0,uber,No,White American or European American,Male,42.291707,-85.587229
62,"Vallejo, CA car shooting",NaN,NaN,2/19/2016,NaN,Open,random,NaN,Two suspects shot at a car and killed one pers...,2,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,38.104086,-122.256637
63,Michigan school shooting,NaN,NaN,2/9/2016,outside gym,Open,random,psycho,Shooter was a part of a fight outside of a hig...,0,...,3,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,43.201126,-86.238946
65,Nightclub fight turns into shootout,NaN,NaN,2/7/2016,nightclub,Close,random,anger,Two groups of people fired at each other after...,1,...,8,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,43.161030,-77.610922
66,"Tampa, FL Strip club shooting",NaN,NaN,2/6/2016,strip club,Close,random,NaN,Fighting broke out in a strip club when an unk...,2,...,8,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,27.950575,-82.457178
67,"Los Angeles, CA street shooting",NaN,NaN,2/6/2016,NaN,Open,random,NaN,Police were called to a street to investigate ...,1,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,34.052234,-118.243685
68,Texas teen commits family murder suicide,NaN,NaN,2/6/2016,NaN,Close,Family/Neighbors,psycho,19-year-old male kills his mother and two neig...,4,...,3,0.0,NaN,NaN,NaN,Unknown,White American or European American,Male,29.209684,-99.786168
69,New Orleans gas station shoot-out,NaN,NaN,1/31/2016,gas station,Open,random,anger,Altercation broke out at a gas station in New ...,0,...,3,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,29.951066,-90.071532
70,"Glendale, AZ House Party shooting",NaN,NaN,1/30/2016,Home,Close,random,anger,Altercation broke out at a house party. A grou...,3,...,8,0.0,NaN,NaN,NaN,Unknown,Unknown,Male,33.538652,-112.185987
71,"Caroline County, VA Family Murder Suicide",NaN,NaN,1/29/2016,NaN,NaN,Family,psycho,"42-year-old husband murders wife, shoots two y...",2,...,3,0.0,42,NaN,NaN,Unknown,Unknown,Male,38.044556,-77.286488
73,"Perris, CA Mexican restaurant shooting",NaN,NaN,1/25/2016,restaurant,Close,random,NaN,Very little is known about the case. Cops were...,1,...,5,0.0,NaN,NaN,NaN,Unknown,Unknown,Male,33.782519,-117.228648
74,Florida family murder,NaN,NaN,1/23/2016,NaN,NaN,Family,NaN,"A young man shot his mother, step-father, and ...",3,...,3,0.0,NaN,NaN,NaN,Unknown,White American or European American,Male,30.754181,-86.572799
75,Los Angeles Drive-by,NaN,NaN,1/23/2016,outside of liquor store,Open,random,terrorism,Group of people was standing outside of a Liqu...,2,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,34.052234,-118.243685
76,"Gloucester County, VA, House Party",NaN,NaN,1/17/2016,Home,Close,party guests,NaN,A young woman threw a house party for her birt...,1,...,4,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,37.402640,-76.458559
77,"Wilmington, DE robbery",NaN,NaN,1/11/2016,Home,Close,random,NaN,"Two men forcefully entered a house, and starte...",1,...,5,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,39.739072,-75.539788
78,"Roadside in Memphis, Tennessee",NaN,NaN,1/7/2016,NaN,Open,random,NaN,A woman flagged down a car to help her with he...,1,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,35.149534,-90.048980
79,"Residence in Lakeland, Florida",NaN,NaN,1/6/2016,Home,Close,drug dealer,NaN,Two men arrived at the house of a drug dealer ...,3,...,4,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,28.039465,-81.949804
164,Washington Navy Yard,Washington D.C.,NaN,9/16/2013,NaN,Close,random,terrorism,"On September 16, 2013, a 34-yearl old contract...",13,...,15,0.0,34,1.0,Navy Yard,Yes,Black American or African American,Male,38.904809,-77.016297
225,West Nickel Mines Amish School,"Nickel Mines, Lancaster, Pennsylvania",NaN,10/2/2006,Bart Township,Close,school girls,terrorism,"On October 2, 2006, a 32-year old men killed f...",6,...,10,0.0,32,NaN,NaN,Unknown,White American or European American,Male,40.042144,-76.301009

In [18]:
df.loc[16,'Location']='Forestville,Maryland'
df.loc[17,'Location']='Halifax County, VA'
df.loc[23,'Location'] = 'Albuquerque, NM'
df.loc[24,'Location'] = 'Memphis,TN'
df.loc[26,'Location'] = 'Albuquerque, NM'
df.loc[30,'Location']='Greenhill, AL'
df.loc[37,'Location']='Elberton,Georgia'
df.loc[38,'Location']='Trenton,NJ'
df.loc[43,'Location']='Lafayette,LA'
df.loc[46,'Location']='Roswell, GA'
df.loc[54,'Location']='Belfair, WA'
df.loc[62,'Location']='Vallejo, CA'
df.loc[66,'Location'] ='Tampa, FL'
df.loc[67,'Location']='Los Angeles, CA'
df.loc[70,'Location']='Glendale, AZ'
df.loc[71,'Location']='Caroline County, VA'
df.loc[73,'Location']='Perris, CA'
df.loc[76,'Location']='Gloucester County, VA'
df.loc[77,'Location']='Wilmington, DE'
df.loc[78,'Location']='Memphis, Tennessee'
df.loc[79,'Location']='Lakeland, Florida'

In [19]:
df['State']=df['Location'].str.split(",").str[1]

In [20]:
df['State'].replace({'VA':'Virginia','NM':'New Mexico','TN':'Tennessee',
                     'AL':'Alabama','NJ':'New Jersey','LA':'Louisiana','GA':'Georgia',
                    'WA':'Washington','CA':'California','FL':'Florida','AZ':'Arizona','DE':'Delaware'},inplace=True)

In [21]:
df[df['State'].isnull()==True]

,Title,Location,State,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
S#,,,,,,,,,,,,,,,,,,,,,
18,Tire-Slashing revenge escalation,NaN,NaN,4/21/2016,block party,Open,random,frustration,Shooter was angry over fact that rival familie...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,39.290385,-76.612189
19,Chicago Rap video Shootout,NaN,NaN,4/19/2016,in a park,Open,random,NaN,Group of young men were in a park at 2 in the ...,1,...,5,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,41.878114,-87.629798
20,Texas family murder-suicide,NaN,NaN,4/19/2016,Home,Close,Family,domestic dispute,Man killed his wife and two young children bef...,4,...,4,0.0,NaN,NaN,NaN,Unknown,White American or European American,Male,29.785785,-95.824396
21,Alabama highway random shooting,NaN,NaN,4/19/2016,along a highway,Open,random,NaN,Shooter fired from his car at two different lo...,1,...,4,0.0,NaN,NaN,NaN,Yes,White American or European American,Male,34.162040,-86.475543
22,Long Beach Street murder,NaN,NaN,4/18/2016,at street corner,Open,random,terrorism,Group of men were standing at a street corner ...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,33.770050,-118.193739
25,Chicago Birthday Party Bus Shooting,NaN,NaN,4/7/2016,south shore,Open,birthday party bus,NaN,Birthday party bus was dropping off party goer...,0,...,5,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,41.878114,-87.629798
35,Atlanta Nightclub shooting,NaN,NaN,3/15/2016,outside nightclub,Open,random,anger,Two groups of people were asked to leave a nig...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,33.748995,-84.387982
36,Florida Family celebration ends in shooting,NaN,NaN,3/13/2016,NaN,NaN,Family,NaN,Family was celebrating a birthday party when a...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,26.640628,-81.872308
39,Detroit Drive-by,NaN,NaN,3/11/2016,NaN,Open,random,NaN,Four men were sitting on a porch when a black ...,2,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,42.331427,-83.045754
41,Wilkinsburg BBQ cookout shootout,NaN,NaN,3/9/2016,backyard of a house,Open,random,terrorism,A family was having a cookout in the backyard ...,5,...,8,0.0,NaN,NaN,NaN,Unknown,Unknown,Male,40.441736,-79.881994
44,Kansas City Home Invasion,NaN,NaN,3/7/2016,Home,Close,neighbors,NaN,Shooter killed four people at his next door ne...,4,...,4,0.0,NaN,NaN,NaN,Unknown,Some other race,Male,39.114053,-94.627464
47,Wichita Nightclub shooting,NaN,NaN,3/5/2016,outside the club,Open,random,anger,Altercation led to group of people getting kic...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,37.687176,-97.330053
48,Detroit Strip Club Shootout,NaN,NaN,2/28/2016,outside the club,Open,club members,anger,Man apparently inappropriately touched a strip...,0,...,5,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,42.331427,-83.045754
49,Riverside restaurant shooting,NaN,NaN,2/28/2016,restaurant parking,Open,random,NaN,Shooter fired upon group of people in a restau...,1,...,4,0.0,NaN,NaN,NaN,Unknown,Some other race,Male,33.997197,-117.485480
56,Missouri Highway shooting,NaN,NaN,2/21/2016,interstate in Hazelwood,Open,random,NaN,Car was fired upon from a stolen Mercedes on t...,1,...,4,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,38.771440,-90.370949
57,Houston Drive-by,NaN,NaN,2/21/2016,NaN,Open,random,NaN,Group of people was fired upon by an unknown n...,0,...,5,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,29.760427,-95.369803
60,Florida Hookah Bar Shooting,NaN,NaN,2/20/2016,hookah bar parking,Open,random,anger,Argument led to gun shots in the parking lot o...,1,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,27.950575,-82.457178
61,Kalamazoo Uber Driver Spree Killing,NaN,NaN,2/20/2016,NaN,Open,random,NaN,An Uber driver fired upon people in three loca...,6,...,8,0.0,NaN,1.0,uber,No,White American or European American,Male,42.291707,-85.587229
63,Michigan school shooting,NaN,NaN,2/9/2016,outside gym,Open,random,psycho,Shooter was a part of a fight outside of a hig...,0,...,3,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,43.201126,-86.238946
65,Nightclub fight turns into shootout,NaN,NaN,2/7/2016,nightclub,Close,random,anger,Two groups of people fired at each other after...,1,...,8,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,43.161030,-77.610922
68,Texas teen commits family murder suicide,NaN,NaN,2/6/2016,NaN,Close,Family/Neighbors,psycho,19-year-old male kills his mother and two neig...,4,...,3,0.0,NaN,NaN,NaN,Unknown,White American or European American,Male,29.209684,-99.786168
69,New Orleans gas station shoot-out,NaN,NaN,1/31/2016,gas station,Open,random,anger,Altercation broke out at a gas station in New ...,0,...,3,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,29.951066,-90.071532
74,Florida family murder,NaN,NaN,1/23/2016,NaN,NaN,Family,NaN,"A young man shot his mother, step-father, and ...",3,...,3,0.0,NaN,NaN,NaN,Unknown,White American or European American,Male,30.754181,-86.572799
75,Los Angeles Drive-by,NaN,NaN,1/23/2016,outside of liquor store,Open,random,terrorism,Group of people was standing outside of a Liqu...,2,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,34.052234,-118.243685
164,Washington Navy Yard,Washington D.C.,NaN,9/16/2013,NaN,Close,random,terrorism,"On September 16, 2013, a 34-yearl old contract...",13,...,15,0.0,34,1.0,Navy Yard,Yes,Black American or African American,Male,38.904809,-77.016297

In [22]:
#filling missing data with appropriate values after getting information from reseasrching articles in google
df.loc[25,'Summary']

'Birthday party bus was dropping off party goers in South Shore Chicago when someone on the street started shooting at them. The bus driver drove off quickly protecting the targets. Unknown motivation. No suspects. '

https://abc7chicago.com/party-bus-shooting-70th-paxton-south-shore/1280390/

In [23]:
df.loc[25,'Location']='Chicago,Illinois'
df.loc[25,'State']='Illinois'

In [24]:
df.loc[39,'Summary']

'Four men were sitting on a porch when a black SUV with three passengers drove by and opened fire in broad daylight. Two of the men died and two were injured. The SUV got away and there are no suspects'

https://www.detroitnews.com/story/news/local/detroit-city/2016/03/11/dead-wounded-drive-detroit/81665078/

In [25]:
df.loc[39,'Location'] = 'Detroit,Michigan'
df.loc[39,'State']='Michigan'
df.loc[39,'Incident Area'] ='Home'

In [26]:
df.loc[41,'Summary']

'A family was having a cookout in the backyard of a house when two gunmen came and started shooting. There is one suspected target, but 5 people were killed, including one pregnant woman. The two gunmen fled the scene and have not been identified.'

https://edition.cnn.com/2016/03/10/us/pennsylvania-shooting/index.html

In [27]:
df.loc[41,'Location'] = 'Wilkinsburg,Pennsylvania'
df.loc[41,'State'] = 'Pennsylvania'

In [28]:
df.loc[49,'Summary']

'Shooter fired upon group of people in a restaurant parking lot'

https://www.pe.com/2016/09/09/fugitive-arrested-in-perris-restaurant-shooting-that-killed-1-injured-4-update/

In [29]:
df.loc[49,'Location'] = "Perris,California"
df.loc[49,'State']='California'

In [30]:
df.loc[56,'Summary']

'Car was fired upon from a stolen Mercedes on the interstate in Hazelwood, MO. One woman died. 3 Injured.'

https://www.kmov.com/news/centralia-woman-killed-3-others-injured-in-hazelwood-interstate-shooting/article_27e099fa-483e-5c2c-bebb-7b465244e354.html

In [31]:
df.loc[56,'Location'] = 'North Lindbergh Boulevard,Hazelwood,Missouri'
df.loc[56,'State'] = 'Missouri'

In [32]:
df.loc[61,'Summary']

'An Uber driver fired upon people in three locations over the course of about 6 hours.'

https://edition.cnn.com/2016/02/21/us/michigan-kalamazoo-county-shooting-spree/index.html

In [33]:
df.loc[61,'Location']='Kalamazoo,Michigan'
df.loc[61,'State'] = 'Michigan'

In [34]:
df.loc[75,'Summary']

'Group of people was standing outside of a Liquor store on Avalon boulevard in South Los Angeles. A car drove by and fired an AK-47, killing 1 and wounding 3.'

https://ktla.com/news/local-news/3-shot-in-south-l-a-s-vermont-knolls-neighborhood-lapd/

In [35]:
df.loc[75,'Location']='Los Angeles,California'
df.loc[75,'State']='California'

In [36]:
df.loc[164,'Summary']

'On September 16, 2013, a 34-yearl old contractor for the Navy Yard in Washington D.C, entered the building shooting randomly, killing twelve people and injuring three surviving victims before he was shot and killed by law enforcement officers.  Five other people were injured during the incident while trying to escape.'

https://www.nytimes.com/2013/09/17/us/shooting-reported-at-washington-navy-yard.html

In [37]:
df.loc[164,'Location']='Washington Navy Yard,Washington D.C.'
df.loc[164,'State']='Washington D.C.'

In [38]:
df[df['State'].isnull()==True]

,Title,Location,State,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
S#,,,,,,,,,,,,,,,,,,,,,
18,Tire-Slashing revenge escalation,NaN,NaN,4/21/2016,block party,Open,random,frustration,Shooter was angry over fact that rival familie...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,39.290385,-76.612189
19,Chicago Rap video Shootout,NaN,NaN,4/19/2016,in a park,Open,random,NaN,Group of young men were in a park at 2 in the ...,1,...,5,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,41.878114,-87.629798
20,Texas family murder-suicide,NaN,NaN,4/19/2016,Home,Close,Family,domestic dispute,Man killed his wife and two young children bef...,4,...,4,0.0,NaN,NaN,NaN,Unknown,White American or European American,Male,29.785785,-95.824396
21,Alabama highway random shooting,NaN,NaN,4/19/2016,along a highway,Open,random,NaN,Shooter fired from his car at two different lo...,1,...,4,0.0,NaN,NaN,NaN,Yes,White American or European American,Male,34.162040,-86.475543
22,Long Beach Street murder,NaN,NaN,4/18/2016,at street corner,Open,random,terrorism,Group of men were standing at a street corner ...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,33.770050,-118.193739
35,Atlanta Nightclub shooting,NaN,NaN,3/15/2016,outside nightclub,Open,random,anger,Two groups of people were asked to leave a nig...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,33.748995,-84.387982
36,Florida Family celebration ends in shooting,NaN,NaN,3/13/2016,NaN,NaN,Family,NaN,Family was celebrating a birthday party when a...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,26.640628,-81.872308
44,Kansas City Home Invasion,NaN,NaN,3/7/2016,Home,Close,neighbors,NaN,Shooter killed four people at his next door ne...,4,...,4,0.0,NaN,NaN,NaN,Unknown,Some other race,Male,39.114053,-94.627464
47,Wichita Nightclub shooting,NaN,NaN,3/5/2016,outside the club,Open,random,anger,Altercation led to group of people getting kic...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,37.687176,-97.330053
48,Detroit Strip Club Shootout,NaN,NaN,2/28/2016,outside the club,Open,club members,anger,Man apparently inappropriately touched a strip...,0,...,5,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,42.331427,-83.045754
57,Houston Drive-by,NaN,NaN,2/21/2016,NaN,Open,random,NaN,Group of people was fired upon by an unknown n...,0,...,5,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,29.760427,-95.369803
60,Florida Hookah Bar Shooting,NaN,NaN,2/20/2016,hookah bar parking,Open,random,anger,Argument led to gun shots in the parking lot o...,1,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,27.950575,-82.457178
63,Michigan school shooting,NaN,NaN,2/9/2016,outside gym,Open,random,psycho,Shooter was a part of a fight outside of a hig...,0,...,3,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,43.201126,-86.238946
65,Nightclub fight turns into shootout,NaN,NaN,2/7/2016,nightclub,Close,random,anger,Two groups of people fired at each other after...,1,...,8,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,43.161030,-77.610922
68,Texas teen commits family murder suicide,NaN,NaN,2/6/2016,NaN,Close,Family/Neighbors,psycho,19-year-old male kills his mother and two neig...,4,...,3,0.0,NaN,NaN,NaN,Unknown,White American or European American,Male,29.209684,-99.786168
69,New Orleans gas station shoot-out,NaN,NaN,1/31/2016,gas station,Open,random,anger,Altercation broke out at a gas station in New ...,0,...,3,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,29.951066,-90.071532
74,Florida family murder,NaN,NaN,1/23/2016,NaN,NaN,Family,NaN,"A young man shot his mother, step-father, and ...",3,...,3,0.0,NaN,NaN,NaN,Unknown,White American or European American,Male,30.754181,-86.572799

In [39]:
#replacing values from title and location column for location and state columns.
df.loc[19,'Location']='Chicago,Illinois'
df.loc[19,'State']='Illinois'
df.loc[20,'State']='Texas'
df.loc[21,'State']='Alabama'
df.loc[22,'Location']='Long Beach,California'
df.loc[22,'State']='California'
df.loc[35,'Location']='Atlanta,Georgia'
df.loc[35,'State']='Georgia'
df.loc[36,'State']='Florida'
df.loc[44,'State']='Kansas'
df.loc[47,'Location']='Wichita,Kansas'
df.loc[47,'State']='Kansas'
df.loc[48,'Location']='Detroit,Michigan'
df.loc[48,'State']='Michigan'
df.loc[57,'Location']='Houston,Texas'
df.loc[57,'State']='Texas'
df.loc[57,'State']='Florida'
df.loc[63,'State']='Michigan'
df.loc[68,'State']='Texas'
df.loc[69,'Location']='New Orleans,Louisiana'
df.loc[69,'State']='Louisiana'
df.loc[74,'State']='Florida'

In [40]:
df[df['State'].isnull()==True]

,Title,Location,State,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
S#,,,,,,,,,,,,,,,,,,,,,
18,Tire-Slashing revenge escalation,NaN,NaN,4/21/2016,block party,Open,random,frustration,Shooter was angry over fact that rival familie...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,39.290385,-76.612189
60,Florida Hookah Bar Shooting,NaN,NaN,2/20/2016,hookah bar parking,Open,random,anger,Argument led to gun shots in the parking lot o...,1,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,27.950575,-82.457178
65,Nightclub fight turns into shootout,NaN,NaN,2/7/2016,nightclub,Close,random,anger,Two groups of people fired at each other after...,1,...,8,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,43.161030,-77.610922

In [41]:
df.loc[60,'Summary']

'Argument led to gun shots in the parking lot outside of a hookah bar in Tampa, Florida'

In [42]:
df.loc[60,'Location']='Tampa,Florida'
df.loc[60,'State']='Florida'

In [43]:
df.loc[65,'Summary']

'Two groups of people fired at each other after a fight broke out outside of the Mexican Village Nightclub in Rochester, NY'

In [44]:
df.loc[65,'Location']='Rochester,New York'
df.loc[65,'State']='New York'

In [45]:
df[df['State'].isnull()==True]

,Title,Location,State,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
S#,,,,,,,,,,,,,,,,,,,,,
18,Tire-Slashing revenge escalation,NaN,NaN,4/21/2016,block party,Open,random,frustration,Shooter was angry over fact that rival familie...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,39.290385,-76.612189

In [46]:
df[df['Incident Area'].isnull()==True]

,Title,Location,State,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
S#,,,,,,,,,,,,,,,,,,,,,
12,Baton Rouge police shooting,"Baton Rouge, LA",LA,7/17/2016,NaN,Open,police,NaN,"Gavin Long, a former Marine who served in Iraq...",3,...,6,3.0,NaN,NaN,former Marine,Yes,Black,M,NaN,NaN
15,"Ferguson, MO Drive by","Ferguson, Missouri",Missouri,4/29/2016,NaN,Open,random,NaN,A group of 15 to 20 people was gathered for a ...,0,...,4,0.0,0,NaN,NaN,Unknown,Unknown,Unknown,38.744217,-90.305391
28,"Louisburg, North Carolina","Louisburg, North Carolina",North Carolina,3/26/2016,NaN,NaN,NaN,terrorism,Three people were killed in a shooting at a ho...,3,...,3,NaN,NaN,NaN,NaN,Unknown,Black American or African American,Male,36.099039,-78.301106
31,"Sherman, Texas Family Murder-Suicide","Sherman, Texas",Texas,3/21/2016,NaN,NaN,Family,domestic dispute,"A man shot and killed his wife and two boys, t...",4,...,3,0.0,NaN,NaN,NaN,Unknown,Unknown,Male,33.635662,-96.608880
36,Florida Family celebration ends in shooting,NaN,Florida,3/13/2016,NaN,NaN,Family,NaN,Family was celebrating a birthday party when a...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,26.640628,-81.872308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,49th Street Elementary School,"Los Angeles, California",California,2/24/1984,NaN,Open,Children,terrorism,"On February 24, a 28-year-old man began shooti...",3,...,14,0.0,28,NaN,NaN,Yes,Black American or African American,Male,34.176221,-118.539954
312,Welding shop in Miami,"Miami, Florida",Florida,8/20/1982,NaN,Close,welding shop employees,psycho,"On August 20, 1982, a 51-year-old teacher on p...",9,...,11,0.0,51,NaN,NaN,Yes,White American or European American,Male,25.796539,-80.208404
315,Grover Cleveland Elementary School,"San Diego, California",California,1/29/1979,NaN,Open,Children,terrorism,"On January 29, 1979, a 16-year-old opened fire...",2,...,11,0.0,16,NaN,NaN,Yes,White American or European American,Female,32.863573,-117.128163
318,Olean High School,"Olean, New York",New York,12/30/1974,NaN,Open+Close,random,terrorism,"On December 30, 1974, a 17-year-old honor stud...",3,...,10,0.0,17,NaN,NaN,No,White American or European American,Male,42.081854,-78.432139
320,New Orleans Police Shootings,"New Orleans, Louisiana",Louisiana,12/31/1972,NaN,NaN,random,psycho,"On New Year's Eve in 1972, a 23-year-old ex-Na...",10,...,22,4.0,23,NaN,NaN,Yes,Black American or African American,Male,30.068724,-89.931474

In [47]:
df.isnull().sum()

Title                     0
Location                  8
State                     1
Date                      0
Incident Area            61
Open/Close Location      28
Target                    5
Cause                    77
Summary                   0
Fatalities                0
Injured                   0
Total victims             0
Policeman Killed          6
Age                     144
Employeed (Y/N)         256
Employed at             282
Mental Health Issues      0
Race                      2
Gender                    0
Latitude                 20
Longitude                20
dtype: int64

In [48]:
df[df['Incident Area'].isnull()==True]

,Title,Location,State,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
S#,,,,,,,,,,,,,,,,,,,,,
12,Baton Rouge police shooting,"Baton Rouge, LA",LA,7/17/2016,NaN,Open,police,NaN,"Gavin Long, a former Marine who served in Iraq...",3,...,6,3.0,NaN,NaN,former Marine,Yes,Black,M,NaN,NaN
15,"Ferguson, MO Drive by","Ferguson, Missouri",Missouri,4/29/2016,NaN,Open,random,NaN,A group of 15 to 20 people was gathered for a ...,0,...,4,0.0,0,NaN,NaN,Unknown,Unknown,Unknown,38.744217,-90.305391
28,"Louisburg, North Carolina","Louisburg, North Carolina",North Carolina,3/26/2016,NaN,NaN,NaN,terrorism,Three people were killed in a shooting at a ho...,3,...,3,NaN,NaN,NaN,NaN,Unknown,Black American or African American,Male,36.099039,-78.301106
31,"Sherman, Texas Family Murder-Suicide","Sherman, Texas",Texas,3/21/2016,NaN,NaN,Family,domestic dispute,"A man shot and killed his wife and two boys, t...",4,...,3,0.0,NaN,NaN,NaN,Unknown,Unknown,Male,33.635662,-96.608880
36,Florida Family celebration ends in shooting,NaN,Florida,3/13/2016,NaN,NaN,Family,NaN,Family was celebrating a birthday party when a...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,26.640628,-81.872308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,49th Street Elementary School,"Los Angeles, California",California,2/24/1984,NaN,Open,Children,terrorism,"On February 24, a 28-year-old man began shooti...",3,...,14,0.0,28,NaN,NaN,Yes,Black American or African American,Male,34.176221,-118.539954
312,Welding shop in Miami,"Miami, Florida",Florida,8/20/1982,NaN,Close,welding shop employees,psycho,"On August 20, 1982, a 51-year-old teacher on p...",9,...,11,0.0,51,NaN,NaN,Yes,White American or European American,Male,25.796539,-80.208404
315,Grover Cleveland Elementary School,"San Diego, California",California,1/29/1979,NaN,Open,Children,terrorism,"On January 29, 1979, a 16-year-old opened fire...",2,...,11,0.0,16,NaN,NaN,Yes,White American or European American,Female,32.863573,-117.128163
318,Olean High School,"Olean, New York",New York,12/30/1974,NaN,Open+Close,random,terrorism,"On December 30, 1974, a 17-year-old honor stud...",3,...,10,0.0,17,NaN,NaN,No,White American or European American,Male,42.081854,-78.432139
320,New Orleans Police Shootings,"New Orleans, Louisiana",Louisiana,12/31/1972,NaN,NaN,random,psycho,"On New Year's Eve in 1972, a 23-year-old ex-Na...",10,...,22,4.0,23,NaN,NaN,Yes,Black American or African American,Male,30.068724,-89.931474

In [49]:
df.loc[13,'Incident Area']='outside plaza'
df.loc[16,'Incident Area']='Drive by'
df.loc[37,'Incident Area']='Home'
df.loc[40,'Incident Area']='Drive by'
df.loc[47,'Incident Area']='Hookah bar'
df.loc[54,'Incident Area']='workplace'
df.loc[63,'Incident Area']='car shooting'
df.loc[67,'Incident Area']='Street shooting'
df.loc[68,'Incident Area']='Home'
df.loc[71,'Incident Area']='Home'
df.loc[74,'Incident Area']='Home'
df.loc[78,'Incident Area']='Roadside'
df.loc[88,'Incident Area']='Home'
df.loc[94,'Incident Area']='Home'
df.loc[98,'Incident Area']='Home'
df.loc[109,'Incident Area']='Bridge'
df.loc[110,'Incident Area']='Deer Lodge'
df.loc[114,'Incident Area']='Home'
df.loc[120,'Incident Area']='Home'
df.loc[126,'Incident Area']='Home'
df.loc[127,'Incident Area']='Home'
df.loc[140,'Incident Area']='Home'
df.loc[146,'Incident Area']='party bus'
df.loc[161,'Incident Area']='Bar'
df.loc[164,'Incident Area']='Shipyard'
df.loc[165,'Incident Area']='Home'
df.loc[169,'Incident Area']='College'
df.loc[170,'Incident Area']='School'
df.loc[185,'Incident Area']='Cafe'
df.loc[186,'Incident Area']='Cafe'

In [50]:
df.loc[194,'Incident Area']='Home'
df.loc[207,'Incident Area']='Home'
df.loc[226,'Incident Area']='University'
df.loc[234,'Incident Area']='Nightclub'
df.loc[244,'Incident Area']='Inn'
df.loc[297,'Incident Area']='Auto Parts + School'
df.loc[301,'Incident Area']='Neighborhood + Shopping Center'
df.loc[309,'Incident Area']='School'
df.loc[312,'Incident Area']='Welding Shop'
df.loc[315,'Incident Area']='School'
df.loc[318,'Incident Area']='School'
df.loc[320,'Incident Area']='Police Station + Hotel'

In [51]:
df.loc[15,'Incident Area']='Drive by'
df.loc[28,'Incident Area']='Home'
df.loc[31,'Incident Area']='Home'
df.loc[53,'Incident Area'] = 'workplace'
df.loc[57,'Incident Area']='Drive by'
df.loc[293,'Incident Area']='Home + workplace'

In [52]:
df.loc[289,'Incident Area']='Home + Workplace'
df.loc[177,'Incident Area']='Home + School'
df.loc[174,'Incident Area']='Parking Garage + Cabin'
df.loc[172,'Incident Area']='Car Service + Barbershop'

In [53]:
df[df['Incident Area'].isnull()==True]

,Title,Location,State,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
S#,,,,,,,,,,,,,,,,,,,,,
12,Baton Rouge police shooting,"Baton Rouge, LA",LA,7/17/2016,NaN,Open,police,NaN,"Gavin Long, a former Marine who served in Iraq...",3,...,6,3.0,NaN,NaN,former Marine,Yes,Black,M,NaN,NaN
36,Florida Family celebration ends in shooting,NaN,Florida,3/13/2016,NaN,NaN,Family,NaN,Family was celebrating a birthday party when a...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,26.640628,-81.872308
46,"Roswell, GA Hookah shootout","Roswell, GA",GA,3/6/2016,NaN,Open,random,anger,Altercation in a hookah bar led a group of sev...,0,...,4,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,34.023243,-84.361556
61,Kalamazoo Uber Driver Spree Killing,"Kalamazoo,Michigan",Michigan,2/20/2016,NaN,Open,random,NaN,An Uber driver fired upon people in three loca...,6,...,8,0.0,NaN,1.0,uber,No,White American or European American,Male,42.291707,-85.587229
62,"Vallejo, CA car shooting","Vallejo, CA",CA,2/19/2016,NaN,Open,random,NaN,Two suspects shot at a car and killed one pers...,2,...,4,0.0,NaN,NaN,NaN,Unknown,Unknown,Unknown,38.104086,-122.256637
80,"Omaha, Nebraska","Omaha, Nebraska",Nebraska,12/6/2015,NaN,NaN,random,NaN,A woman and her two year old daughter were sho...,2,...,5,0.0,NaN,NaN,NaN,Unknown,Black American or African American,Male,41.313800,-96.081400
135,Killeen,"Killeen, Texas",Texas,2/22/2015,NaN,NaN,random,NaN,"On Sunday night of February 22, Fort Hood sold...",4,...,4,0.0,NaN,1.0,Fort Hood,No,Black American or African American,Male,31.079255,-97.733923
155,Isla Vista mass murder,"Santa Barbara, California",California,5/23/2014,NaN,Open+Close,random,psycho,"Elliot Rodger, 22, shot three people to death ...",6,...,19,0.0,22,NaN,NaN,Yes,White,M,NaN,NaN
160,Cedarville Rancheria Tribe,"Alturas, California",California,2/20/2014,NaN,NaN,Family+random,psycho,"On February 20, 2014, a 44-year old woman went...",4,...,6,0.0,44,NaN,NaN,No,Native American or Alaska Native,Female,41.491112,-120.549091
173,"Ladera Ranch, Santa Ana, Tustin and Orange","Ladera Ranch, California",California,2/19/2013,NaN,Open+Close,random,psycho,"On February 19, 2013, a 20-year old unemployed...",4,...,6,0.0,20,0.0,NaN,Yes,White American or European American,Male,33.549611,-117.641571
197,Tucson shooting,"Tucson, Arizona",Arizona,1/8/2011,NaN,Open,Congresswoman,terrorism,"Jared Loughner, 22, opened fire outside a Safe...",6,...,19,0.0,22,NaN,NaN,Yes,white,Male,32.221743,-110.926479
246,Xerox killings,"Honolulu, Hawaii",Hawaii,11/2/1999,NaN,Close,random,NaN,"Byran Koji Uyesugi, 40, a Xerox service techni...",7,...,7,0.0,40,1.0,Xerox Service Technician,Yes,Asian,Male,21.325512,-157.847306
263,Fort Lauderdale revenge shooting,"Fort Lauderdale, Florida",Florida,2/9/1996,NaN,NaN,Ex-Coworkers,revenge,"Fired city park employee Clifton McCree, 41, o...",6,...,7,0.0,41,0.0,NaN,Yes,black,Male,26.122308,-80.143379
268,Downtown Chapel Hill,"Chapel Hill, North Carolina",North Carolina,1/26/1995,NaN,Open,random,psycho,"On January 26, 1995, a 26-year-old mentally il...",2,...,4,0.0,26,NaN,NaN,Yes,White American or European American,Male,35.926815,-79.038504
281,Dana Point Post Office,"Dana Point, California",California,5/6/1993,NaN,Open+CLose,random,psycho,"On May 6, 1993, after murdering his mother and...",1,...,6,0.0,38,0.0,NaN,Yes,White American or European American,Male,33.473161,-117.696399
291,GMAC Loan Office,"Jacksonville, Florida",Florida,6/17/1990,NaN,NaN,random,psycho,After fatally shooting a man and woman and wou...,12,...,17,0.0,42,NaN,NaN,No,Black American or African American,Male,30.332161,-81.675770

In [54]:
df.isnull().sum()

Title                     0
Location                  8
State                     1
Date                      0
Incident Area            16
Open/Close Location      28
Target                    5
Cause                    77
Summary                   0
Fatalities                0
Injured                   0
Total victims             0
Policeman Killed          6
Age                     144
Employeed (Y/N)         256
Employed at             282
Mental Health Issues      0
Race                      2
Gender                    0
Latitude                 20
Longitude                20
dtype: int64

In [55]:
#droppinh all above 40%
df.drop(['Title','Open/Close Location','Cause','Age','Employeed (Y/N)','Employed at','Latitude','Longitude'],axis=1,inplace=True)

In [56]:
(df.isnull().sum()/df.shape[0])*100

Location                2.476780
State                   0.309598
Date                    0.000000
Incident Area           4.953560
Target                  1.547988
Summary                 0.000000
Fatalities              0.000000
Injured                 0.000000
Total victims           0.000000
Policeman Killed        1.857585
Mental Health Issues    0.000000
Race                    0.619195
Gender                  0.000000
dtype: float64

In [57]:
df.Gender.value_counts()

Male           272
Unknown         21
M               20
Female           5
Male/Female      4
M/F              1
Name: Gender, dtype: int64

In [58]:
df['Gender'].replace({'M':'Male','M/F':'Male/Female'},inplace=True)

In [59]:
df.Gender.value_counts()

Male           292
Unknown         21
Male/Female      5
Female           5
Name: Gender, dtype: int64

In [60]:
df.isnull().sum().sum()

38

In [61]:
df['State'] = df['State'].str.strip()

In [62]:
df['State'].unique()

array(['TX', 'CO', 'MD', 'NV', 'CA', 'PA', 'Florida', 'Ohio',
       'California', 'WA', 'LA', 'Texas', 'Missouri', 'Maryland', 'VA',
       nan, 'Illinois', 'Alabama', 'NM', 'Tennessee', 'Virginia',
       'North Carolina', 'AL', 'Kentucky', 'Georgia', 'New Jersey',
       'Michigan', 'Pennsylvania', 'Kansas', 'Louisiana', 'Massachusetts',
       'GA', 'Washington', 'Arizona', 'Mississippi', 'New York', 'FL',
       'AZ', 'DE', 'Nebraska', 'Colorado', 'Minnesota', 'Maine', 'Oregon',
       'South Dakota', 'South Carolina', 'Wisconsin', 'Montana',
       'Indiana', 'Oklahoma', 'New Mexico', 'Idaho', 'Souderton',
       'West Virginia', 'Nevada', 'Washington D.C.', 'Albuquerque',
       'Connecticut', 'Arkansas', 'Utah', 'Lancaster', 'Vermont',
       'San Diego', 'Hawaii', 'Alaska', 'Wyoming', 'Iowa'], dtype=object)

In [63]:
df['State']=df['State'].replace({'TX':'Texas','CO':'Colorado','MD':'Maryland','NV':'Nevada','CA':'California','PA':'Pennsylvania','WA':'Washington','LA':'Louisiana','VA':'Virginia','AL':'Alabama','GA':'Georgia','FL':'Florida','AZ':'Arizona','DE':'Delaware','NM':'New Mexico'})

In [64]:
df['State'].value_counts()

California         36
Florida            26
Texas              20
Georgia            16
Washington         16
Arizona            12
New York           11
North Carolina     11
Illinois           11
Alabama            11
Michigan           10
Ohio               10
Virginia            9
Wisconsin           9
Pennsylvania        8
Louisiana           7
Colorado            7
Tennessee           7
Kansas              6
Nevada              6
South Carolina      5
Oklahoma            5
Kentucky            5
Missouri            4
Minnesota           4
New Jersey          4
Massachusetts       4
Mississippi         4
New Mexico          4
Oregon              4
Nebraska            3
Connecticut         3
Maryland            2
Arkansas            2
Utah                2
Montana             2
Iowa                1
Wyoming             1
Indiana             1
Vermont             1
Souderton           1
Washington D.C.     1
Idaho               1
Alaska              1
Maine               1
West Virginia       1
Lancaster           1
Delaware            1
San Diego           1
Hawaii              1
Albuquerque         1
South Dakota        1
Name: State, dtype: int64

In [65]:
df['State']= df['State'].replace({"Albuquerque":'New Mexico','Lancaster':'Pennsylvania','San Diego':'California','Souderton':'Pennsylvania'})

In [66]:
df.isnull().sum()

Location                 8
State                    1
Date                     0
Incident Area           16
Target                   5
Summary                  0
Fatalities               0
Injured                  0
Total victims            0
Policeman Killed         6
Mental Health Issues     0
Race                     2
Gender                   0
dtype: int64

In [67]:
df.dropna(inplace=True)

In [68]:
df.isnull().sum()

Location                0
State                   0
Date                    0
Incident Area           0
Target                  0
Summary                 0
Fatalities              0
Injured                 0
Total victims           0
Policeman Killed        0
Mental Health Issues    0
Race                    0
Gender                  0
dtype: int64

In [69]:
df.to_excel("shooting.xls")